@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="choose-season">
    <div>
        @Image.CreateLink("/Images/summer.jpg","Summer","Catalogues")
    </div>
    <div>
        @Image.CreateLink("/Images/autumn.jpg", "Autumn", "Catalogues")
    </div>
</div>
